{% extends 'landlord_base.html' %}
{% load static %}

{% block body %}
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row second-chart-list third-news-update">

            <!-- User Greeting Start-->
            <div class="col-xl-12 xl-50 news box-col-6">
                <div class="card">
                    <div class="card-header">
                        <div class="header-top">
                            <h5 class="m-0">Good Afternoon, {{ user.first_name }} {{ user.last_name }}</h5>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="news-update">
                            <h6><i class="fa fa-home"></i>Unit 1</h6>
                            <span>{{ profile.address }}</span><br />
                            <span>{{ profile.city }}, {{ profile.state }} {{ profile.zipcode }}</span>

                        </div>

                    </div>
                </div>
            </div>
            <!-- User Greeting End-->




            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
{% endblock %}